<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="fas fa-users"></i>
						</div>
						<h4 class="mb-3">Discover Community</h4>
						<p class="mb-4">In the community we come from a wide range of views, denomonations and backgrounds. Chat and talk together as you get to know the community and staff.</p>
						<a href="/discord" class="btn btn-main btn-round-full">Community Discord</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="fab fa-accusoft"></i>
						</div>
						<h4 class="mb-3">Main Point?</h4>
						<p class="mb-4">Main feature content</p>
						<a href="#" class="btn btn-main btn-round-full">Button</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="fas fa-book"></i>
						</div>
						<h4 class="mb-3">Need Help?</h4>
						<p class="mb-4">If you ever need help or assistance, you can rely on our Staff, Community or our helpful, ever-growing Knowledgebase to answer your questions or get you started on the Network</p>
						<a href="/support" class="btn btn-main btn-round-full">Support</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>