<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Features and aspects</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Examples of things that the staff and community do</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Aspect Example 1</h4>
					</div>

					<div class="content">
						<p class="mb-4">Example Text</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Aspect Example 1</h4>
					</div>

					<div class="content">
						<p class="mb-4">Example Text</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Aspect Example 1</h4>
					</div>

					<div class="content">
						<p class="mb-4">Example Text</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Aspect Example 1</h4>
					</div>

					<div class="content">
						<p class="mb-4">Example Text</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Aspect Example 1</h4>
					</div>

					<div class="content">
						<p class="mb-4">Example Text</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="fas fa-adjust"></i>
						<h4 class="mt-3 mb-3">Aspect Example 1</h4>
					</div>

					<div class="content">
						<p class="mb-4">Example Text</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>