<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-users"></i>
						<span class="h3">150</span>
						<p>Community Members</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-user-friends"></i>
						<span class="h3">20</span>
						<p>Staff Members</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-signal"></i>
						<span class="h3">20</span>
						<p>Stat Example</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-bible"></i>
						<span class="h3">1</span>
						<p>God</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>