<section class="page-title bg-1" style="background: url(<%= backgroundImage %>) no-repeat 50% 50%; width: 100%">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block profileHeader">
			  <div style="width: 10%; float: left;">
				<img style="padding-right: 5px;" src="https://crafatar.com/avatars/<%= profileApiData.data[0].uuid %>?helm" height="80px" draggable="false">
			  </div>

			  <div style="margin-left: 10%;">
				<h1 class="text-lg"><%= profileUserTitle %></h1>
				<h4><i class="fas fa-circle" style="color: red;"></i> Last Online: 3 days ago</h4>
				<h4><i class="fas fa-circle" style="color: lime;"></i> Currently Online on Survival</h4>
				<small>My rank go here</small>
			  </div>
		  </div>
		</div>
	  </div>
	</div>
  </section>