<%- include("../header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Check out Steves profile, punishments and stats"
}) %>

<%- include("../navigationBar.ejs") %>

<%- include("profileHeader.ejs", {
  profileUserTitle: "Steve",
  backgroundImage: "https://i.imgur.com/PqNBnlS.png"
}) %>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <ul class="nav nav-tabs">
          <a data-toggle="tab" href="#about"><li class="active selected btn" id="tabContent">About</li></a>
          <a data-toggle="tab" href="#statistics"><li class="btn">Statistics</li></a>
          <a data-toggle="tab" href="#punishments"><li class="btn">Punishments</li></a>
          <a data-toggle="tab" href="#reports"><li class="btn">Reports</li></a>
        </ul>
        
        <div class="tab-content profileSection">
          <div id="about" class="tab-pane fade in active">
            <h3>About</h3>
            <p>Some content.</p>
          </div>
          <div id="statistics" class="tab-pane fade">
            <h3>Statistics</h3>

            <h4>Network Statistics</h4>

            <div class="container-fluid">
              <div class="row">
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
  
                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>

                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>

                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>

                <div class="profileStat">
                  <h3>Stat 1</h3>
                  <p>23</p>
                </div>
              </div>
            </div>


            <h4>Survival Statistics</h4>
            <h5>Transportation</h5>

            <table class="table">
                <tr>
                  <td>ANIMALS_BRED</td>
                  <td>####</td>
                  
                  <td>BOAT_ONE_CM</td>
                  <td>####</td>
                </tr>
            </table>

            <div class="container-fluid">
              <div class="row">
                <div class="profileStat">
                  <h3>ANIMALS_BRED</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>BOAT_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>BREAK_ITEM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>CHEST_OPENED</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>CLIMB_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>CRAFT_ITEM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>CRAFTING_TABLE_INTERACTION</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>CROUCH_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>DAMAGE_ABSORBED</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>DAMAGE_DEALT</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>DAMAGE_TAKEN</h3>
                  <p>####</p>
                </div>

                <div class="profileStat">
                  <h3>DEATHS</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>DROP</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>DROP_COUNT</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>ENTITY_KILLED_BY</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>FALL_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>FISH_CAUGHT</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>FLY_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>HORSE_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>JUMP</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>LEAVE_GAME</h3>
                  <p>####</p>
                </div>


                <div class="profileStat">
                  <h3>MINE_BLOCK</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>MINECART_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>MOB_KILLS</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>PIG_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>PLAYER_KILLS</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>RAID_TRIGGER</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>RAID_WIN</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>SLEEP_IN_BED</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>SNEAK_TIME</h3>
                  <p>####</p>
                </div>

                <div class="profileStat">
                  <h3>SPRINT_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>STRIDER_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>SWIM_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>TALKED_TO_VILLAGER</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>TIME_SINCE_DEATH</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>TIME_SINCE_REST</h3>
                  <p>####</p>
                </div>

                <div class="profileStat">
                  <h3>WALK_ON_WATER_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>WALK_ONE_CM</h3>
                  <p>####</p>
                </div>
                <div class="profileStat">
                  <h3>WALK_UNDER_WATER_ONE_CM</h3>
                  <p>####</p>
                </div>
              </div>
            </div>
          </div>
          <div id="punishments" class="tab-pane fade">
            <h3>Punishments</h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Punished</th>
                  <th scope="col">Punished By</th>
                  <th scope="col">Platform</th>
                  <th scope="col">Type</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Date</th>
                  <th scope="col">Expires</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>APPEAL</td>
                </tr>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>APPEAL</td>
                </tr>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>APPEAL</td>
                </tr>
                <tr>
                  <td>1354</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>INGAME</td>
                  <td>BAN</td>
                  <td>Breaking Blocks</td>
                  <td>23 November 2021</td>
                  <td>NULL</td>
                  <td>APPEAL</td>
                </tr>
              </tbody>
            </table>

          </div>
          <div id="reports" class="tab-pane fade">
            <h3>Reports</h3>
            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Reported</th>
                  <th scope="col">Reported By</th>
                  <th scope="col">Platform</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1543</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>DISCORD</td>
                  <td>Scamming</td>
                  <td>30 November 2021</td>
                </tr>
                <tr>
                  <td>1543</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>DISCORD</td>
                  <td>Scamming</td>
                  <td>30 November 2021</td>
                </tr>
                <tr>
                  <td>1543</td>
                  <td>Steve</td>
                  <td>shadowolfyt</td>
                  <td>DISCORD</td>
                  <td>Scamming</td>
                  <td>30 November 2021</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="col-3">
        <h3>First Join</h3>
        <p>30th November 2020</p>
        <hr>
        <h3>Interests</h3>
        <p>Crafting and Mining</p>
        <hr>

        <h3>Social Media</h3>
        <table class="table table-borderless">
          <tr>
            <td>Twitter</td>
            <td>@Steve_</td>
          </tr>
          <tr>
            <td>Twitch</td>
            <td>StevePlaysMinecraft</td>
          </tr>
          <tr>
            <td>Steam</td>
            <td>StevePlaysOtherGames</td>
          </tr>
          <tr>
            <td>GitHub</td>
            <td>SteveDevelops</td>
          </tr>
          <tr>
            <td>Spotify</td>
            <td>C418Only</td>
          </tr>
          <tr>
            <td>Discord</td>
            <td>@SteveisTheBest</td>
          </tr>
          <tr>
            <td>YouTube</td>
            <td>StevePlaysOnlyMinecraft</td>
          </tr>
          <tr>
            <td>Instagram</td>
            <td>SteveSnapsMinecraft</td>
          </tr>
        </table>
        <hr>  
      </div>
    </div>
  </div>
</section>

<%- include("../footer.ejs") %>  