<%- include("../header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Check out Steves profile, punishments and stats"
}) %>

<%- include("../navigationBar.ejs") %>

<%- include("profileHeader.ejs", {
  profileUserTitle: "Steve",
  backgroundImage: "https://i.imgur.com/PqNBnlS.png"
}) %>

<section class="section">
    <div class="container">
      <!-- Event Card -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <img src="" width="250px" height="250px">
            </div>
            <div class="col">
              <a href="#" style="color:black; text-decoration:none;"><h3>Event Title <a href="#" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6>eventDateTime</h6>
              <div>
                <p>Information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Event Card -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <img src="" width="250px" height="250px">
            </div>
            <div class="col">
              <a href="#" style="color:black; text-decoration:none;"><h3>Event Title <a href="#" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6>eventDateTime</h6>
              <div>
                <p>Information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Event Card -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <img src="" width="250px" height="250px">
            </div>
            <div class="col">
              <a href="#" style="color:black; text-decoration:none;"><h3>Event Title <a href="#" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6>eventDateTime</h6>
              <div>
                <p>Information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
</section>

<%- include("../footer.ejs") %>  