<section class="page-title" style="background: url(../<%= globalImage %>) no-repeat 50% 50%; background-size: cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
				<img src="<%= profilePicture %>" alt="<%= profileApiData.username %>'s Avatar">
			</div>
            <div class="col-md-6">
                <div class="block">
                    <h1 class="mb-1">shadowolfyt</h1>
                    <h4 class="mb-1 text-white"><i class="fa-solid fa-circle" style="color: red;"></i> Last Seen TIMEAGO on SERVER</h4>
                    <h4 class="mb-1 text-white"><i class="fa-solid fa-circle" style="color: green;"></i> Currently Online on SERVER</h4>
                </div>
            </div>
        </div>
    </div>
</section>
