<section class="page-title bg-1" style="background: url(<%= backgroundImage %>) no-repeat 50% 50%; background-size: cover;">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			<h1 class="text-capitalize mb-5 text-lg"><%= headerTitle %></h1>
		  </div>
		</div>
	  </div>
	</div>
  </section>