<br>
<div class="row justify-content-center">
	<div class="col-sm-6">
		<nav aria-label="page navigation">
			<ul class="pagination justify-content-between">
				<% if (apiData.page == 1) { %>
					<li class="page-item disabled">
						<a class="page-link btn btn-main" href="#"><span aria-hidden="true">&laquo;</span> Previous Page</a>
					</li>
				<%  } else { %>
					<li class="page-item">
						<a class="page-link btn btn-main" href="<%= (apiData.page - 1) %>"><span aria-hidden="true">&laquo;</span> Previous Page</a>
					</li>
				<% } %>
				<% if (apiData.data.length < apiData.limit) { %>
					<li class="page-item disabled">
						<a class="page-link btn btn-main" href="#">Next Page <span aria-hidden="true">&raquo;</span></a>
					</li>
				<% } else { %>
					<li class="page-item">
						<a class="page-link btn btn-main" href="<%= (apiData.page + 1) %>">Next Page <span aria-hidden="true">&raquo;</span></a>
					</li>
				<% } %>
			</ul>
		</nav>
	</div>
</div>