<%- include("../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The backend dashboard."
}) %>

<%- include("../modules/dashboard/sidebar.ejs") %>

<%- include("../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib">
                                    <i class="fas fa-gavel color-warning border-warning"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Users Punished this Week</div>
                                    <div class="stat-digit">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fas fa-level-up-alt color-danger border-danger"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Escalated Appeals Open</div>
                                    <div class="stat-digit">2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fas fa-file-alt color-primary border-primary"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Appeals Open</div>
                                    <div class="stat-digit">10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Punishments -->
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Punishments</h4>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <!-- Punishments by Users -->
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Punishments by Users</h4>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../modules/dashboard/footer.ejs") %>