<%- include("../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The backend dashboard."
}) %>

<%- include("../modules/dashboard/sidebar.ejs") %>

<%- include("../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib">
                                    <i class="fas fa-users color-success border-success"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">New Users</div>
                                    <div class="stat-digit">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user color-primary border-primary"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Total Community Hours Played</div>
                                    <div class="stat-digit">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fas fa-images color-danger border-danger"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Community Submissions</div>
                                    <div class="stat-digit">24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Player Activity -->
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Player Activity</h4>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <!-- Server Activity -->
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Server Activity</h4>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>

<%- include("../modules/dashboard/footer.ejs") %>