<%- include("../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The backend dashboard."
}) %>

<%- include("../modules/dashboard/sidebar.ejs") %>

<%- include("../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib">
                                    <i class="fas fa-users color-success border-success"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">New Users</div>
                                    <div class="stat-digit">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user color-primary border-primary"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Total Community Hours Played</div>
                                    <div class="stat-digit">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="fas fa-images color-danger border-danger"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Community Submissions</div>
                                    <div class="stat-digit">24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Player Activity -->
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Player Activity</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <canvas id="playerActivityChart"></canvas>
                                </div>

                                <script>
                                    const playerActivityLabels = [
                                      'January',
                                      'February',
                                      'March',
                                      'April',
                                      'May',
                                      'June',
                                    ];
                                  
                                    const playerActivityData = {
                                        labels: playerActivityLabels,
                                        datasets: [
                                            {
                                                label: 'Proxy',
                                                backgroundColor: 'purple',
                                                borderColor: 'purple',
                                                data: [5, 20, 5, 2, 20, 30, 45],
                                            },
                                            {
                                                label: 'Hub',
                                                backgroundColor: 'green',
                                                borderColor: 'green',
                                                data: [0, 10, 5, 2, 20, 30, 45],
                                            },
                                            {
                                                label: 'Survival',
                                                backgroundColor: 'orange',
                                                borderColor: 'orange',
                                                data: [0, 10, 5, 2, 25, 40, 50],
                                            },
                                            {
                                                label: 'Mixed',
                                                backgroundColor: 'brown',
                                                borderColor: 'brown',
                                                data: [50, 15, 50, 22, 25, 30, 45],
                                            },
                                            {
                                                label: 'Build',
                                                backgroundColor: 'rgb(255, 99, 132)',
                                                borderColor: 'rgb(255, 99, 132)',
                                                data: [0, 10, 5, 2, 20, 30, 45],
                                            },
                                            {
                                                label: 'Development',
                                                backgroundColor: 'yellow',
                                                borderColor: 'yellow',
                                                data: [30, 10, 25, 32, 10, 20, 45],
                                            }
                                        ]
                                    };
                                  
                                    const playerActivityConfig = {
                                      type: 'line',
                                      data: playerActivityData,
                                      options: {}
                                    };
                                </script>

                                <script>
                                    const playerActivityChart = new Chart(
                                        document.getElementById('playerActivityChart'),
                                        playerActivityConfig
                                    );
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Title</h4>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../modules/dashboard/footer.ejs") %>