{
    "debug": false,
    "siteConfiguration": {
        "siteName": "My Server",
        "tagline": "This is my Server.",
        "email": "support@myserver.com",
        "policy": {
            "termsOfService": "https://raw.githubusercontent.com/craftingforchrist/Legal/master/terms.md",
            "rules": "https://raw.githubusercontent.com/craftingforchrist/Legal/master/rules.md",
            "privacy": "https://raw.githubusercontent.com/craftingforchrist/Legal/master/privacy.md",
            "refund": "https://raw.githubusercontent.com/craftingforchrist/Legal/master/refund.md"
        },
        "platforms": {
            "discord": "https://discord.com/",
            "facebook": "https://www.facebook.com/",
            "twitter": "https://twitter.com/",
            "instagram": "https://instagram.com/",
            "reddit": "https://www.reddit.com/",
            "twitch": "https://www.twitch.tv/",
            "youtube": "https://www.youtube.com/",
            "linkedin": "https://www.linkedin.com/",
            "tiktok": "https://www.tiktok.com/"
        }
    },
    "discord": {
        "guildId": "999999999999999999",
        "channels": {
            "welcomeChannel": "999999999999999999",
            "networkChatLog": "999999999999999999",
            "adminLog": "999999999999999999"
        },
        "roles": {
            "verified": "999999999999999999"
        }
    }
}