<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Been punished wrongly and want to be appealed? Select your punishment and state your case."
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("miniHeader.ejs", {
  headerTitle: "Appeal",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>


<section class="section">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Punished User</th>
          <th scope="col">Punished By</th>
          <th scope="col">Type</th>
          <th scope="col">Reason</th>
          <th scope="col">Time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><a href="/punishments/game/view/#">#0001</a></td>
          <td>shadowolfyt</td>
          <td>Camemes</td>
          <td>WARNING</td>
          <td>Spamming and Bad Admin</td>
          <td style="font-size: 13px; max-width:180px;">Tuesday 29th September 2022</td>
          <td>
            <div class="btn-group mb-2 btn-group-sm">
              <button class="btn btn-danger" type="button">Appeal</button>
          </div>
        </td>
        </tr>
      </tbody>
      </tbody>
    </table>     
  </div>
</section>

<%- include("modules/footer.ejs") %>  