<%- include("./modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Showcase your content and builds related to the Server on the monthly community creations round up!"
}) %>

<%- include("./modules/navigationBar.ejs") %>

<%- include("./modules/communityCreationsHeroHeader.ejs") %>

<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="cover-card col-sm-4" style="background: url(https://media.discordapp.net/attachments/869465358086570054/921260601290928188/2021-12-17_15.34.34.png?width=1266&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-3" style="background: url(https://media.discordapp.net/attachments/869465358086570054/921260600359796756/2021-12-17_15.33.28.png?width=1266&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-5" style="background: url(https://media.discordapp.net/attachments/869465358086570054/921260594982686720/2021-12-17_14.57.59.png?width=1266&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-3" style="background: url(https://media.discordapp.net/attachments/869465358086570054/921248272427921488/2021-12-16_22.14.54.png?width=1283&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-3" style="background: url(https://media.discordapp.net/attachments/869465358086570054/921149891282096158/2021-12-16_13.17.10.png?width=1178&height=663) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-3" style="background: url(https://media.discordapp.net/attachments/869465358086570054/919934169637859328/2021-12-13_23.45.55.png?width=1178&height=663) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-3" style="background: url(https://media.discordapp.net/attachments/869465358086570054/914751164858384405/unknown.png?width=1250&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
    
            <div class="cover-card col-sm-4" style="background: url(https://media.discordapp.net/attachments/869465358086570054/910738226203996170/2021-11-17_22.07.33.png?width=1283&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-4" style="background: url(https://media.discordapp.net/attachments/869465358086570054/910337608100487168/2021-11-16_20.14.48.png?width=1250&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-4" style="background: url(https://media.discordapp.net/attachments/869465358086570054/902328395990462554/New_horse_who_dis.png?width=1196&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-6" style="background: url(https://media.discordapp.net/attachments/869465358086570054/899463544465154048/2021-10-17_18.05.15.png?width=1178&height=663) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
            <div class="cover-card col-sm-6" style="background: url(https://media.discordapp.net/attachments/869465358086570054/898766838702407740/2021-10-16_13.55.42.png?width=1250&height=662) no-repeat center top;background-size:cover;">
                <p>
                    Submission Name: My House<br>
                    Submitted By: Me, Myself and I<br>
                    <small>A small description</small>
                </p>
            </div>
        </div>
    </div>
    
    <style>
    .cover-card {
        border: 2px solid black;
        background: grey;
        padding: 0px;
        margin: 0px;
        height:200px;
    }
    .cover-card > p {
        text-align: left;
        padding-left: 10px;
        /* background-color: grey; */
        color: rgba(6,6,6,0.0);
        width: 100%;
        height: 100%;
        /* font-weight: bold; */
        font-size: 20px;
        transition: 0.3s;
    }
    .cover-card:hover > p {
        background-color: rgba(6,6,6,0.3);
        color: white;
        text-shadow: 3px 3px 10px #000;
        transition: 0.3s;
    }
    </style>
</section>


<%- include("./modules/footer.ejs") %>  