<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Get involved in the community and join in Community Events!"
}) %>

<%- include("modules/navigationBar.ejs") %>

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">Events</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
    <div class="container">
      <!-- Event Card -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <img src="" width="250px" height="250px">
            </div>
            <div class="col">
              <a href="#" style="color:black; text-decoration:none;"><h3>Event Title <a href="#" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6>eventDateTime</h6>
              <div>
                <p>Information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Event Card -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <img src="" width="250px" height="250px">
            </div>
            <div class="col">
              <a href="#" style="color:black; text-decoration:none;"><h3>Event Title <a href="#" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6>eventDateTime</h6>
              <div>
                <p>Information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Event Card -->
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-">
              <img src="" width="250px" height="250px">
            </div>
            <div class="col">
              <a href="#" style="color:black; text-decoration:none;"><h3>Event Title <a href="#" style="color:black; font-size:14pt;"><i class="fas fa-link"></i></a></h3></a>
              <h6>eventDateTime</h6>
              <div>
                <p>Information</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
</section>

<%- include("modules/footer.ejs") %>  