<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Discover Crafting For Christ, a Christian Minecraft server fostering a safe and welcoming community for players to explore faith and creativity together."
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "FaithForge",
  backgroundImage: globalImage
}) %>


<section class="section container">
  <p>Anything worth doing is worth doing well. FaithForge is more than just a Bible study; it is a community of believers sharpening one another in faith and truth. As Proverbs 27:17 says, “Iron sharpens iron, and one man sharpens another.”</p>

  <h3>Key Commitments</h3>

  <h4>Be There</h4>
  <p>Your presence is powerful. It shows commitment not just to the study, but to the people within it. Hebrews 10:24-25 reminds us, “Let us consider how to stir up one another to love and good works, not neglecting to meet together, as is the habit of some, but encouraging one another.”</p>
  <p>Life can be busy, and while consistency is important, it’s better to be present whenever possible rather than absent altogether. Your participation strengthens the group.</p>

  <h4>Pray</h4>
  <p>Prayer is at the heart of our faith. Pray for your fellow group members, and especially for your group leader, that they would have wisdom and guidance (James 1:5).</p>
  <p>Paul encouraged believers in 1 Thessalonians 5:16-18 to “Rejoice always, pray without ceasing, give thanks in all circumstances; for this is the will of God in Christ Jesus for you.” Let prayer be a regular part of your FaithForge experience.</p>

  <h4>Prepare</h4>
  <p>Engaging with God’s Word beforehand deepens understanding and discussion. If your leader suggests a passage to read, take the time to reflect on it. Psalm 119:105 says, “Your word is a lamp to my feet and a light to my path.”</p>
  <p>Studying ahead will not be a burden but a blessing, helping you gain more from the discussions and hear God speaking through His Word.</p>

  <h4>Care</h4>
  <p>FaithForge is more than a study—it’s a community of support. Show love and care for one another in tangible ways.</p>
  <p>1 John 4:7 reminds us, “Beloved, let us love one another, for love is from God, and whoever loves has been born of God and knows God.” Be willing to encourage, listen, and pray for one another.</p>
  <p>Confidentiality is key; anything personal that is shared within the group should be treated with care and discretion. Galatians 6:2 exhorts us, “Bear one another’s burdens, and so fulfill the law of Christ.”</p>
</section>


<%- include("modules/footer.ejs") %>  