<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Register to get involved with the community!"
}) %>

<%- include("modules/navigationBar.ejs") %>

<%- include("miniHeader.ejs", {
  headerTitle: "Register",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>


<section class="section">
    <div class="container">
      <form method="post" action="/login">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" style="margin:0 auto; width: 30%">Register</button>
        </div>
      </form>        
    </div>
</section>

<%- include("modules/footer.ejs") %>  