<%- include("modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Support and boost the Network while getting perks! Get on top of the leaderboard!"
}) %>

<%- include("modules/navigationBar.ejs") %>

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">Vote</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h3>Play</h3>
          <h6>play.craftingforchrist.net</h6>
          <br>
          <!-- https://minecraft-server-list.com/server/457515/ -->
          <a href="https://minecraft-server-list.com/server/457515/" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 1</button></a><br><br>
          <!-- https://minecraftservers.org/server/580952 -->
          <a href="https://minecraftservers.org/server/580952" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 2</button></a><br><br>
          <!-- https://minecraft-mp.com/server-s252890 -->
          <a href="https://minecraft-mp.com/server-s252890" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 3</button></a>
        </div>
  
        <div class="col text-center">
          <h3>Revelation</h3>
          <h6>revelation.craftingforchrist.net</h6>
          <br>
          <!-- https://minecraft-server-list.com/server/452408/ -->
          <a href="https://minecraft-server-list.com/server/452408/" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 1</button></a><br><br>
          <!-- https://minecraftservers.org/server/598914 -->
          <a href="https://minecraftservers.org/server/598914" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 2</button></a><br><br>
          <!-- https://minecraft-mp.com/server-s247160 -->
          <a href="https://minecraft-mp.com/server-s247160" target="_blank"><button type="button" class="btn btn-primary btn-sm btn-space">Vote Site 3</button></a>
        </div>
  
      <div class="col">
        <h3 class="text-center">Top Voters</h3>
        <div class="alert alert-info" role="alert" style="font-size:10pt;">
          The Top Voter perks are as the following:
          <ul>
            <li>The Top Voter rank in Discord.</li>
            <li>Temporary Diamond Rank for the month.</li>
            <li>1000 bonus claim blocks on Survival Server.</li>
          </ul>
          All votes get reset on the 1st of every month.
        </div>
  
        <table class="table" style="line-height:13px;">
          <tr>
            <td>shadowolfyt</td>
            <td><code>23</code></td>
          </tr>
        </table>
      </div>
    </div>      
    </div>
</section>

<%- include("modules/footer.ejs") %>  