<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "A Knowledgebase Article"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Knowledgebase Article",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>
  
  
  <section class="section">
      <div class="container">
        <div>
            <div class="details mt-4 mt-lg-0 kbMarkdown">
                <zero-md src="https://raw.githubusercontent.com/craftingforchrist/public-knowledgebase/staging/gettingStarted/loggingIntoTheServer.md"></zero-md>
            </div>
        </div>
      </div>
  </section>

<%- include("../../modules/footer.ejs") %>  