<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "A Knowledgebase Article"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("partials/miniHeader.ejs", {
  headerTitle: "Article Title",
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>
  
  
  <section class="section">
      <div class="container">
        <div>
            <div class="details mt-4 mt-lg-0">
                <zero-md src="https://raw.githubusercontent.com/craftingforchrist/private-knowledgebase/main/generalStaff/newStaff.md?token=ADVRDWDRX4UCVF4WURXWV7DBW6U4I"></zero-md>
            </div>
        </div>
      </div>
  </section>

<%- include("../../modules/footer.ejs") %>  