<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "A directory of all of the shops on the Network."
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("shoppingDistrictDirectoryHeroHeader.ejs", {
  backgroundImage: globalImage
}) %>

<section class="section">
    <div class="container">
      <div class="row">

        <!-- Shop Item -->
        <div class="col-xl-4 col-xxl-6 col-lg-6 col-sm-6" style="padding-bottom: 10px;">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">My Cobble Shop</h5>
              </div>
              <div class="card-body">
                  <small class="card-text">We sell cobble and different types of deepslate.</small><br><br>
                  <h6>Our Items</h6>

                  <!-- Shop Items -->
                  <div class="table-responsive" style="overflow-y:scroll; max-height: 200px;">
                    <table class="table table-hover table-responsive-sm">
                      <tr>
                        <th><img src="https://i.imgur.com/ssTlpp6.png" height="32px"></th>
                        <td>Cobblestone</td>
                        <td>$1</td>
                        <td>64</td>
                      </tr>
                      <tr>
                        <th><img src="https://i.imgur.com/KACGx19.png" height="32px"></th>
                        <td>Deepslate</td>
                        <td>$1</td>
                        <td>64</td>
                      </tr>
                    </table>
                  </div>
                  
              </div>
              <div class="card-footer">
                  <small class="card-text d-inline">Owned by <img src="https://crafatar.com/avatars/0af03841-2894-434c-a4be-965b317244e8?helm" height="16px" draggable="false"> shadowolfyt</small>
              </div>
          </div>
        </div>

        <!-- Shop Item -->
        <div class="col-xl-4 col-xxl-6 col-lg-6 col-sm-6" style="padding-bottom: 10px;">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">The Green Shop</h5>
              </div>
              <div class="card-body">
                  <small class="card-text">We sell EVERYTHING that is green, because of my green shirt :)</small><br><br>
                  <h6>Our Items</h6>

                  <!-- Shop Items -->
                  <div class="table-responsive" style="overflow-y:scroll; max-height: 200px;">
                    <table class="table table-hover table-responsive-sm">
                      <tr>
                        <th><img src="https://i.imgur.com/rO5HEE2.png" height="32px"></th>
                        <td>Grass Block</td>
                        <td>$2</td>
                        <td>64</td>
                      </tr>
                      <tr>
                        <th><img src="https://i.imgur.com/r9iLncO.png" height="32px"></th>
                        <td>Cactus</td>
                        <td>$1</td>
                        <td>64</td>
                      </tr>
                    </table>
                  </div>
                  
              </div>
              <div class="card-footer">
                  <small class="card-text d-inline">Owned by <img src="https://crafatar.com/avatars/456c20d6-26d5-4709-80b5-40bf9307bf4c?helm" height="16px" draggable="false"> VenomousViper</small>
              </div>
          </div>
        </div>

        
        
      </div>
    </div>
</section>


<%- include("../../modules/footer.ejs") %>  