<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="images/index/communityCreations/1.jpg" alt="" class="img-fluid">
					<img src="images/index/communityCreations/2.jpg" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="images/index/communityCreations/3.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Community <br>Creations</h2>
					<p class="mt-4 mb-5">We love our community and the creations that they make on the Network, follow the link below to view some of these creations in the Community Creation Showcase.</p>

					<a href="/communityCreations" class="btn btn-main-2 btn-round-full btn-icon">View Creations<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>