<!-- Slider Start -->
<section class="banner" style="background: url(<%= backgroundImage %>) no-repeat 50% 50%;">
	<div class="container">
		<% if (request.cookies.alertType) { %>
			<br>
			<%- include("../../partials/alert.ejs", {
				alertType: request.cookies.alertType,
				content: request.cookies.alertContent
			}) %>
		<% } %>

		<div class="row">
			<div class="col-lg-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing "><%= config.siteConfiguration.tagline %></span>
					<h1 class="mb-3 mt-3"><%= config.siteConfiguration.siteName %></h1>
					
					<p class="mb-4 pr-5">A Christian Minecraft Server loving the game we play and the God we serve.</p>

					<div class="text-center">
						<p>By the grace God has given me, I laid a foundation as a wise builder, and someone else is building on it. But each one should build with care. For no one can lay any foundation other than the one already laid, which is Jesus Christ.<br>1 Corinthians 3:10-11</p>
					</div>
					<div class="btn-container ">
						<a href="/play" class="btn btn-main-2 btn-icon btn-round-full">Let's Play <i class="icofont-simple-right ml-2 "></i></a>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="block">
					<iframe width="430" height="240" src="https://www.youtube.com/embed/ceKiwsIuiA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>