<section class="cta-section ">
	<div class="container">
		<div class="position-relative" style="min-height: 200px; background: #2f508c;">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-users"></i>
						<span class="h3"><%= statApiData.data.general.communityMembers %></span>
						<p>Community Members</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-user-friends"></i>
						<span class="h3"><%= statApiData.data.general.staffMembers %></span>
						<p>Staff Members</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-clock"></i>
						<span class="h3"><%= statApiData.data.timePlayed %></span>
						<p>Hours Played</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="fas fa-bible"></i>
						<span class="h3">1</span>
						<p>God</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>