<%- include("../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "The Rules for the Network to abide by."
}) %>

<%- include("../modules/navigationBar.ejs") %>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <h1 class="text-capitalize mb-5 text-lg">Refund Policy</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section">
      <div class="container">
        <div>
            <div class="details mt-4 mt-lg-0">
                <zero-md src="<%= config.siteConfiguration.policy.refund %>"></zero-md>
            </div>
        </div>
      </div>
  </section>

<%- include("../modules/footer.ejs") %>  