<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <button class="btn btn-link" id="sidebar-toggle"><i class="fas fa-bars"></i></button>
    </div>
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"><i class="fas fa-home"></i> <span class="nav-text">Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/announcements"><i class="fas fa-exclamation-circle"></i> <span class="nav-text">Announcements</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/servers"><i class="fas fa-server"></i> <span class="nav-text">Servers</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/applications"><i class="fas fa-copy"></i> <span class="nav-text">Applications</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/vault"><i class="fa-solid fa-vault"></i> <span class="nav-text">Vault</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/logs"><i class="fa-solid fa-terminal"></i> <span class="nav-text">Logs</span></a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa-solid fa-wrench"></i> <span class="nav-text">Development</span></a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/bridge">Bridge</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<script src="/js/dashboard-sidebar.js"></script>