<script>
    $(document).ready(function(){
        $('.nav-link[data-toggle="collapse"]').click(function(){
            $(this).find('.submenu-caret').toggleClass('fa-caret-right fa-caret-down');
        });
    });
</script>

<div class="container-fluid">
  <div class="row">
    <nav class="col d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
            <a class="nav-link" href="/dashboard/events"><i class="far fa-calendar"></i> Events</a>
            <a class="nav-link" href="/dashboard/announcements"><i class="fas fa-exclamation-circle"></i> Announcements</a>
            <a class="nav-link" href="/dashboard/servers"><i class="fas fa-server"></i> Servers</a>
            <a class="nav-link" href="/dashboard/knowledgebase"><i class="fas fa-book"></i> Knowledgebase</a>
            <a class="nav-link" href="/dashboard/applications"><i class="fas fa-copy"></i> Applications</a>
            <a class="nav-link" href="/dashboard/logs"><i class="fa-solid fa-terminal"></i> Logs</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#submenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-user"></i>Profile <i class="fas fa-caret-right float-right submenu-caret"></i>
            </a>
            <ul class="collapse list-unstyled" id="submenu1">
              <li>
                <a class="nav-link" href="#">
                  Submenu Item 1
                </a>
              </li>
              <li>
                <a class="nav-link" href="#">
                  Submenu Item 2
                </a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
</div>
