<script>
    $(document).ready(function(){
        $('.nav-link[data-toggle="collapse"]').click(function(){
            $(this).find('.submenu-caret').toggleClass('fa-caret-right fa-caret-down');
        });
    });
</script>

<div class="container-fluid">
  <div class="row">
    <nav class="col d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <i class="fas fa-home"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#submenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-user"></i>
              Profile <i class="fas fa-caret-right float-right submenu-caret"></i>
            </a>
            <ul class="collapse list-unstyled" id="submenu1">
              <li>
                <a class="nav-link" href="#">
                  Submenu Item 1
                </a>
              </li>
              <li>
                <a class="nav-link" href="#">
                  Submenu Item 2
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-envelope"></i>
              Messages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-cog"></i>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
