<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pageTitle %></title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Styles -->
    <link href="/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/helper.css" rel="stylesheet">
    <link href="/css/dashboard-style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>