<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="/dashboard"><span><%= config.siteConfiguration.siteName %></span></a></div>
                
                <!-- Views -->
                <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard Views <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="#"><i class="fas fa-network-wired"></i> Network <span class="badge badge-info">Planned</span></a></li>
                        <li><a href="#"><i class="fas fa-gavel"></i> Punishment <span class="badge badge-info">Planned</span></a></li>
                    </ul>
                </li>

                <!-- Network -->
                <li class="label">Network</li>
                <li><a href="/dashboard/ranks"><i class="fas fa-swimming-pool"></i> Ranks <span class="badge badge-warning">WIP</span> </a></li>
                <li><a class="sidebar-sub-toggle"><i class="fas fa-gavel"></i> Punishments <span class="badge badge-warning">WIP</span>  <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="#"><i class="fas fa-gamepad"></i> In-Game <span class="badge badge-warning">WIP</span></a></li>
                        <li><a href="#"><i class="fab fa-discord"></i> Discord <span class="badge badge-warning">WIP</span></a></li>
                        <li><a href="#"><i class="fas fa-desktop"></i> Web <span class="badge badge-info">Planned</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="ti-email"></i> Appeal <span class="badge badge-info">Planned</span></a></li>
                <li><a href="#"><i class="fas fa-copy"></i> Reports <span class="badge badge-info">Planned</span></a></li>

                <!-- Events -->
                <li><a class="sidebar-sub-toggle"><i class="far fa-calendar"></i> Events <span class="badge badge-warning">WIP</span>  <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/dashboard/events">Event Viewer <span class="badge badge-warning">WIP</span></a></li>
                        <li><a href="/dashboard/events/schedule">Event Planner <span class="badge badge-warning">WIP</span></a></li>
                    </ul>
                </li>

                <!-- Moderation -->
                <li class="label">Moderation</li>
                    <li><a href="/dashboard/playercheck"><i class="fas fa-user"></i> Player Check <span class="badge badge-warning">WIP</span></a></li>

                <!-- Administration -->
                <li class="label">Administration</li>
                    <li><a href="#"><i class="fas fa-exclamation-circle"></i> Network Alerts <span class="badge badge-warning">WIP</span></a></li>
                    <li><a href="#"><i class="fas fa-server"></i> Servers <span class="badge badge-warning">WIP</span></a></li>
                    <li><a href="#"><i class="fas fa-book"></i> Knowledgebase <span class="badge badge-info">Planned</span></a></li>

                <li><a><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->