<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="/dashboard"><span><%= config.siteConfiguration.siteName %></span></a></div>
                
                <!-- Views -->
                <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard Views <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/dashboard/view/network"><i class="fas fa-network-wired"></i> Network</a></li>
                        <li><a href="/dashboard/view/punishment"><i class="fas fa-gavel"></i> Punishment</a></li>
                    </ul>
                </li>

                <!-- Network -->
                <li class="label">Network</li>
                <li><a href="/dashboard/ranks"><i class="fas fa-swimming-pool"></i> Ranks </a></li>
                <li><a class="sidebar-sub-toggle"><i class="fas fa-gavel"></i> Punishments <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="#"><i class="fas fa-gamepad"></i> In-Game</a></li>
                        <li><a href="#"><i class="fab fa-discord"></i> Discord</a></li>
                        <li><a href="#"><i class="fas fa-desktop"></i> Web</a></li>
                    </ul>
                </li>
                <li><a href="/dashboard/events"><i class="far fa-calendar"></i> Events</a></li>

                <!-- Moderation -->
                <li class="label">Moderation</li>
                    <li><a href="/dashboard/usercheck"><i class="fas fa-user"></i> User Check</a></li>
                    <li><a href="#"><i class="ti-email"></i> Appeal</a></li>
                    <li><a href="#"><i class="fas fa-copy"></i> Reports</a></li>

                <!-- Administration -->
                <li class="label">Administration</li>
                    <li><a href="#"><i class="fas fa-exclamation-circle"></i> Network Announcements</a></li>
                    <li><a href="/dashboard/servers"><i class="fas fa-server"></i> Servers</a></li>
                    <li><a href="/dashboard/knowledgebase"><i class="fas fa-book"></i> Knowledgebase</a></li>

                <li><a><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->