<!-- Slider Start -->
<section class="banner" style="background: url(<%= globalImage %>) no-repeat 50% 50%; overflow: hidden; background-size: cover; background-position: center;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing "><%= config.siteConfiguration.tagline %></span>
					<h1 class="mb-3 mt-3"><%= config.siteConfiguration.siteName %></h1>
					<br>

					<%- include("playServerCta.ejs") %>
				</div>
			</div>
		</div>
	</div>
</section>