<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Showcase your content and builds related to the Server on the monthly community creations round up!"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("communityCreationsHeroHeader.ejs") %>

<section class="section">
    <div class="container-fluid">
        <div class="row">
            <!-- Image -->
            <div class="card shadow-sm col-sm-4">
                <img src="https://media.discordapp.net/attachments/869465358086570054/921260594982686720/2021-12-17_14.57.59.png" alt="" width="100%">

                <div class="card-body">
                    <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                          <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                      </div>
                      <small class="text-muted">Submitted By Amosathar</small>
                    </div>
                  </div>
            </div>

            <!-- Image -->
            <div class="card shadow-sm col-sm-4">
                <img src="https://media.discordapp.net/attachments/869465358086570054/921149891282096158/2021-12-16_13.17.10.png" alt="" width="100%">

                <div class="card-body">
                    <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                          <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                      </div>
                      <small class="text-muted">Submitted By Venny</small>
                    </div>
                  </div>
            </div>

            <!-- Image -->
            <div class="card shadow-sm col-sm-4">
                <img src="https://media.discordapp.net/attachments/869465358086570054/921248272427921488/2021-12-16_22.14.54.png" alt="" width="100%">

                <div class="card-body">
                    <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                          <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                      </div>
                      <small class="text-muted">Submitted By Knaptihuved</small>
                    </div>
                  </div>
            </div>
            
            <!-- Image -->
            <div class="card shadow-sm col-sm-4">
                <img src="https://media.discordapp.net/attachments/869465358086570054/914751164858384405/unknown.png" alt="" width="100%">

                <div class="card-body">
                    <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                          <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                      </div>
                      <small class="text-muted">Submitted By Discord Chicken</small>
                    </div>
                  </div>
            </div>

            <!-- Image -->
            <div class="card shadow-sm col-sm-4">
                <img src="https://media.discordapp.net/attachments/869465358086570054/914140909082406962/2021-11-28_00.08.01.png" alt="" width="100%">

                <div class="card-body">
                    <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                          <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                      </div>
                      <small class="text-muted">Submitted By xXThe_BFGXx</small>
                    </div>
                  </div>
            </div>

            <!-- Image -->
            <div class="card shadow-sm col-sm-4">
                <img src="https://media.discordapp.net/attachments/869465358086570054/910337608100487168/2021-11-16_20.14.48.png" alt="" width="100%">

                <div class="card-body">
                    <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                          <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                      </div>
                      <small class="text-muted">Submitted By Aron_with_an_a</small>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>


<%- include("../../modules/footer.ejs") %>  