<!-- Slider Start -->
<section class="banner" style="background: url(<%= globalImage %>) no-repeat 50% 50%;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="block">
					<h1 class="mb-3 mt-3">Community Creations</h1>
					<p class="mb-4 pr-5">Showcase your content and builds related to the Network.</p>
					<br>

					<div class="btn-container">
						<a href="/communityCreation/submit" class="btn btn-main-2 btn-icon btn-round-full">Submit a Creation <i class="icofont-simple-right ml-2 "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>