<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Showcase your content and builds related to the Server on the monthly community creations round up!"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("communityCreationsHeroHeader.ejs", {
  backgroundImage: "../images/banner/AronCrystalBuilding.png"
}) %>

<section class="section">
    <div class="container-fluid">
        <div class="row">
            <!-- Image -->
            <div class="card col-sm-4 communityCreationItem">
              <img class="card-img-top" src="https://media.discordapp.net/attachments/869465358086570054/921260594982686720/2021-12-17_14.57.59.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">The Mine</h5>
                <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                <small><img style="padding-right: 5px;" src="https://crafatar.com/avatars/0af03841-2894-434c-a4be-965b317244e8?helm" height="20px" draggable="false"> Submitted by <a href="http://localhost:8080/profile/shadowolfyt">shadowolfyt</a></small>
              </div>
            </div>

            <!-- Image -->
            <div class="card col-sm-4 communityCreationItem">
              <img class="card-img-top" src="https://media.discordapp.net/attachments/869465358086570054/921260594982686720/2021-12-17_14.57.59.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">The Mine</h5>
                <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                <small><img style="padding-right: 5px;" src="https://crafatar.com/avatars/0af03841-2894-434c-a4be-965b317244e8?helm" height="20px" draggable="false"> Submitted by <a href="http://localhost:8080/profile/shadowolfyt">shadowolfyt</a></small>
              </div>
            </div>

            <!-- Image -->
            <div class="card col-sm-4 communityCreationItem">
              <img class="card-img-top" src="https://media.discordapp.net/attachments/869465358086570054/921260594982686720/2021-12-17_14.57.59.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">The Mine</h5>
                <p class="card-text">This is a description of a restyled villager house made by a player on the servers.</p>
                <button type="button" class="btn btn-sm btn-outline-primary"><i class="far fa-thumbs-up"></i> Like (42)</button>
                <small><img style="padding-right: 5px;" src="https://crafatar.com/avatars/0af03841-2894-434c-a4be-965b317244e8?helm" height="20px" draggable="false"> Submitted by <a href="http://localhost:8080/profile/shadowolfyt">shadowolfyt</a></small>
              </div>
            </div>
        </div>
    </div>
</section>


<%- include("../../modules/footer.ejs") %>  