<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Have a screenshot or a build you want to show off to the community that is Network related? Submit it here!"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <h1 class="text-capitalize mb-5 text-lg">Submit a Creation</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section">
      <div class="container">
        <form action="/communityCreations/submit" method="post">
          <div class="form-group row">
            <label for="submissionName" class="col-4 col-form-label">Submission Name</label> 
            <div class="col-8">
              <input id="submissionName" name="submissionName" placeholder="My Build!" type="text" class="form-control" aria-describedby="submissionNameHelpBlock" required="required"> 
              <span id="submissionNameHelpBlock" class="form-text text-muted">The name of your creation/build</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="imageLink" class="col-4 col-form-label">Creation Image Link</label> 
            <div class="col-8">
              <input id="imageLink" name="imageLink" placeholder="https://i.imgur.com/" type="text" class="form-control" aria-describedby="imageLinkHelpBlock" required="required"> 
              <span id="imageLinkHelpBlock" class="form-text text-muted">We use Imgur to host Community Creations, please use the Image address not the image link.</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="submissionDescription" class="col-4 col-form-label">Submission Info</label> 
            <div class="col-8">
              <textarea id="submissionDescription" name="submissionDescription" cols="40" rows="5" class="form-control" aria-describedby="submissionDescriptionHelpBlock"></textarea> 
              <span id="submissionDescriptionHelpBlock" class="form-text text-muted">A description of your creation.</span>
            </div>
          </div> 
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
  </section>

<%- include("../../modules/footer.ejs") %>  