<%- include("../../modules/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "Have a screenshot or a build you want to show off to the community that is Network related? Submit it here!"
}) %>

<%- include("../../modules/navigationBar.ejs") %>

<%- include("../../partials/miniHeader.ejs", {
  headerTitle: "Submit A Creation",
  backgroundImage: "../../images/banner/AronCrystalBuilding.png"
}) %>

<section class="section">
  <div class="container">
    <form action="" method="post">
      <div class="form-group">
        <h3>Creation Information</h3>
          <label for="creationName">Creation Name</label>
          <input type="text" class="form-control" name="creationName">

          <label for="creationDescription">Creation Description</label>
          <input type="text" class="form-control" name="creationDescription">
      </div>
      <div class="form-group">
        <h3>Creation Submission Content</h3>
        <small>List a image or video item. If there is an additional item, select the green plus.</small>
        <br>

        <!-- After this needs a multi section implementation -->

      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
  
  
<%- include("../../modules/footer.ejs") %>  