<%- include("../../modules/dashboard/header.ejs", {
    pageTitle: pageTitle,
    pageDescription: "List all of the ranks currently on the Network."
}) %>

<%- include("../../modules/dashboard/sidebar.ejs") %>

<%- include("../../modules/dashboard/navigation.ejs") %>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Ranks</h4>
                                <a href="/dashboard/ranks/create"><button type="button" class="btn btn-sm btn-info">Create Rank</button></a>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Rank ID</th>
                                            <th>Display Name</th>
                                            <th>Number of Users in Rank</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><span class="badge" style="background-color: #ffff00; color: black;">Administrator</span></td>
                                            <td>2</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-sm btn-warning">Edit</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><span class="badge" style="background-color: #ffa500; color: white;">Senior Staff</span></td>
                                            <td>5</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-sm btn-warning">Edit</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><span class="badge" style="background-color: #00ced1; color: white;">Event Staff</span></td>
                                            <td>7</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-sm btn-warning">Edit</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

<%- include("../../modules/dashboard/footer.ejs") %>