<%- include("../header.ejs", { }) %>

<!-- Header -->
<div class="jumbotron">
    <h1 class="display-4">Confirm Email</h1>
</div>

<!-- Email Content -->
<div>
    <p>Time to confirm your email, enter the following back on the registration page:</p>
    <h3>CODE</h3>

    <p>
        Best regards,<br>
        Ben Robson<br>
        Founder / Developer<br>
        ModularSoft Team
    </p>
</div>


<%- include("../footer.ejs", { }) %>
